@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    padding-left: 12px;
    padding-right: 23px;
}

.logo{
    border-radius: 90%;
}

.body-con{
    width: 80%;
}
.nav{
    width: 20;
}